@import 'tailwindcss';

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@theme {
    --color-text: #161704;
    --color-background: #fbfcee;
    --color-primary: #cadc2a;
    --color-secondary: #8cd0ec;
    --color-accent: #6165e5;
}
input,
textarea,
select,
button {
    @apply rounded-xl border border-black;
}

input:hover,
textarea:hover,
select:hover,
button:hover {
    @apply border-accent bg-gray-50;
}